.cr-bgimg div span{
  width: 100%;
  height: 100%;
  position: absolute;
left:-150px;
  top: 0;
  z-index: 2;
background-repeat: no-repeat;

}

.cr-container input.cr-selector-img-1:checked~.cr-bgimg,
.cr-bgimg div span:nth-child(1){
    background-image: url(../images/1.jpg);
}
.cr-container input.cr-selector-img-2:checked~.cr-bgimg,
.cr-bgimg div span:nth-child(2){
  background-image: url(../images/2.jpg);

}
.cr-container input.cr-selector-img-3:checked~.cr-bgimg,
.cr-bgimg div span:nth-child(3){
  background-image: url(../images/3.jpg);
}
.cr-container input.cr-selector-img-4:checked~.cr-bgimg,
.cr-bgimg div span:nth-child(4)
{
  background-image: url(../images/4.jpg);
}
.cr-bgimg div:nth-child(1) span{
  background-position: 0 0;
}
.cr-bgimg div:nth-child(2) span{
  background-position: -150px 0;
}
.cr-bgimg div:nth-child(3) span{
  background-position: -300px 0;
}
.cr-bgimg div:nth-child(4) span{
  background-position: -450px 0;
}
.cr-container input:checked~.cr-bgimg span{
  animation:koby 1s ease-in-out;
}
@-webkit-keyframes koby {
  from{left:0px ;}
  to{left:150px ;}
}
@-moz-keyframes koby {
  from{left:0px ;}
  to{left:150px ;}
}
@-o-keyframes koby {
  from{left:0px ;}
  to{left:150px ;}
}
@-ms-keyframes koby {
  from{left:0px ;}
  to{left:150px ;}
}
@keyframes koby {
  from{left:0px ;}
  to{left:150px ;}
}
.cr-container .cr-selector-img-1 ~.cr-titles h3:nth-child(1) ,
.cr-container .cr-selector-img-2 ~.cr-titles h3:nth-child(2) ,
.cr-container .cr-selector-img-3 ~.cr-titles h3:nth-child(3) ,
.cr-container .cr-selector-img-4 ~.cr-titles h3:nth-child(4) {
opacity: 0;
-webkit-transition:opacity 1s;
-moz-transition:opacity 1s;
-ms-transition:opacity 1s;
-o-transition:opacity 1s;
transition:opacity 1s;

}
.cr-container input.cr-selector-img-1:checked ~ .cr-titles h3:nth-child(1),
.cr-container input.cr-selector-img-2:checked ~ .cr-titles h3:nth-child(2),
.cr-container input.cr-selector-img-3:checked ~ .cr-titles h3:nth-child(3),
.cr-container input.cr-selector-img-4:checked ~ .cr-titles h3:nth-child(4) {

  opacity: 1;

}

.cr-container input.cr-selector-img-1:checked ~ .cr-bgimg div span:nth-child(1),
.cr-container input.cr-selector-img-2:checked ~ .cr-bgimg div span:nth-child(2),
.cr-container input.cr-selector-img-3:checked ~ .cr-bgimg div span:nth-child(3),
.cr-container input.cr-selector-img-4:checked ~ .cr-bgimg div span:nth-child(4){
z-index: 10;
left:0;
-webkit-transition:left  1s;
transition:left 1s;
-webkit-animation:none;
animation:none;
}
/*下面是文字*/
.cr-titles h3{
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  z-index: 10000;
  top:50%;
}
.cr-titles h3 span:nth-child(1){
  display: block;
  font-size: 70px;
  font-family: "BebaNeue","Arial Narrow",Arial sans-serif;;
}
.cr-titles h3 span:nth-child(2){
  display: block;
  font-size: 14px;
  padding: 10px;
  background:rgba(104,171,194,0.9);
  font-family: cambria,palatino,"palatino linotype","palatino LT STD";
letter-spacing: 0;
font-style: italic;
}
